.item-card {
  display: flexbox;
  position: relative;
  grid-template-rows: 125px 100px 50px;
  margin: 30px;
  padding: 10px;
  width: 300px;
  min-height: 450px;
  color: #2A2b2dff;
  background-color: #2DA8D8FF;
  background: linear-gradient(to top right, #b3e5f9, #fff8af);
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgb(159, 159, 159);
  transition: 250ms ease-in-out;
}
.item-card:hover {
  transform: scale(1.1);
}

.item-card:hover .item-card-btn-add {
  width: 100px;
  box-shadow: 0 0 5px 1px grey, inset -6em 0 1px 1px rgb(132, 199, 230);
  transition: 250 ease-in-out;
}
.item-card:hover .item-card-btn-add span {
  display: inline;
  opacity: 1;
  transition: 500ms ease-in-out;
}

.item-title-div {
  min-height: 100px;
  min-width: 275px;
}
.item-title {
  margin-top: 20px;
  font-size: 1em;
}

.item-img {
  margin: 20px auto;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 3px 1px gray;
}
.item-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  /* position: absolute;
  bottom: 0; */
  margin-bottom: 20px;
  width: 100%;
}
.item-price {
}

.item-card-btn-add {
  padding: 5px 10px;
  font-size: .8em;
  color: var(--color-btnTxt);
  height: 40px;
  width: 40px;
  overflow: hidden;
  background: var(--color-btn);
  border-radius: 10px;
  border: none;
  white-space: nowrap;
  box-shadow: 0 0 5px 1px grey;
  transition:  ease-in-out 300ms;
}
.item-card-btn-add span{
  display: none;
  opacity: 0;  
}

.item-card-btn-add:hover {
  color: black;
  /* background: linear-gradient(to top right, #b3e5f9, #fff8af); */
  transform: scale(1.05);
}