.item-card {
  margin: 30px;
  padding: 10px;
  width: 250px;
  min-height: 350px;
  color: #2A2b2dff;
  background-color: #2DA8D8FF;
  background: linear-gradient(to top right, #b3e5f9, #fff8af);
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgb(159, 159, 159);
  transition: 250ms ease-in;
}
.item-card:hover {
  transform: scale(1.1);
  

}
.item-title {
  margin-top: 20px;
  font-size: 1em;
}

.item-img {
  margin: 20px auto;
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 0 3px 1px gray;
}

.item-price {
  text-align: left;
}