.checkout-cart {
    margin: 0 auto;
    /* width: 320px; */
}
.checkout-cart-item {
    margin: 20px;

    padding: 20px;
    height: 1000px;
    width: 40vw;
    background-color: white;
}
.checkout-cart-item img {
    /* grid-column: 1/2;
    grid-row: 1/3; */
    width: 125px;
    aspect-ratio: 1;
}
.checkout-cart-item h6{
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 1.2em;
}
.checkout-cart-item p{
    grid-column: 2/3;
    grid-row: 2/3;
}
.checkout-cart-item .checkout-item-price{
    grid-column: 3/4;
    grid-row: 2/3;
}

