:root {
    --color-btn:rgb(80, 147, 234);
    --color-btnTxt: white;
}

.item-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 41, 50, 0.5);
    z-index: 20;
}
.item-detail-card {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    position: fixed;
    padding: 80px 50px;
    width: 80%;
    height: 80%;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 240, 213);
    border-radius: 30px;
    box-shadow: 0 0 10px 2px grey;
    z-index: 30;
}

.item-detail-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    color: var(--color-btnTxt);
    background-color: var(--color-btn);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px grey;
    transition: 500ms ease-in-out;
}
.item-detail-close-btn:hover {
    color: white;
    box-shadow: 0 0 5px 1px grey, inset 0 0 0 2em red;
    /* background-color: red; */
}

.item-detail-name {
    margin-bottom: 60px;
    font-size: 2em;
    max-height: 10%;
}

.item-detail-img {
    position: relative;
    margin: 10px auto;
    padding: 20px;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 1px rgb(69, 142, 145);
}

.info {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    margin: 0 auto 50px auto;
    width: 80%;
    font-size: 2em;
}

.btn-add {
    padding: 5px 10px;
    font-size: .5em;
    color: var(--color-btnTxt);
    background: var(--color-btn);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 1px grey;
    transition:  ease-out;
}

.btn-add:hover {
    color: black;
    transform: scale(1.05);
}

.btn-add:active {
    background-color: lightskyblue;
    transform: scale(1.1);
}