* {
    font-family: "Orbitron", sans-serif;
    font-weight: bold
}

.order-item-container {
    color: black;
    padding: 3vh;
}

.order-item-pic {
    margin-top: 2%;
}

.checkout-cart-border {
    margin: 0 auto 30px auto;
    padding: 10px;
    max-width: 80vw;
    border-radius: 15px;
    background-color: rgb(218, 218, 218);
    box-shadow: 0 0 10px 2px rgb(130, 130, 130);
}

.checkout-cart {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    box-shadow: inset 0 0 10px 2px rgb(130, 129, 129);
}

.checkout-cart-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 100px;
    margin: 20px;
    padding: 20px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 5px 3px;
}

.cart-item-img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 200px;
    padding: 0px;
    box-shadow: inset 0 0 3px 1px black;
}

.cart-item-price {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0 0 20px 20px;
    font-size: 24px;
}

.order-item-quantity {
    position: absolute;
    margin: 0 0 20px 100px;
    left: 30%;
    bottom: 0;
    font-size: 1em;

}



.item-price-amount {
    position: absolute;
    margin: 20px; 
    font-size: 24px;
    right: 0;
    bottom: 0;
}

.prev-item-price {}