:root {
    /* --color-neongreen: rgb(96, 194, 145); */
    --color-nav: rgb(251, 244, 244);
    /* --color-accent: rgb(62, 228, 145); */
    --color-navBtnAccent: rgb(210, 210, 210);
    /* --color-accenttwo: rgba(5, 114, 78, 0.97); */
    --color-navBtnShadow: rgba(122, 133, 145, 0.97);
}

.nav-bar {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    top: 0;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    background-color: var(--color-nav);
    box-shadow: 0 0 5px 1px black;
    z-index: 100;
}

a {
    text-decoration: none;
}

/*----------------------------------------
        Button Styling
-----------------------------------------*/
.nav-btn {
    display: grid;
    place-items: center;
    width: 100px;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid black;
    background-color: transparent;
    transition: 250ms ease-in;
}

.nav-btn:first-child {
    border-left: 1px solid grey;
    /* border-right: 1px solid grey; */
}

.nav-btn:hover {
    background-color: var(--color-nav);
    box-shadow: 0 0 0 0 transparent,
        inset 12px 0 10px -6px var(--color-navBtnShadow),
        inset -12px 0 10px -6px var(--color-navBtnShadow),
        inset 0 -3.25em 0 0 var(--color-navBtnAccent);
}

.welcome {
    font-size: 16px;
    margin-left: 20px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 15px 5px 0;
    padding: 2px;
    width: 40px;
    height: 40px;
    color: transparent;
    border-radius: 50%;
    border: none;
    background: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/shopping-cart_1f6d2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    box-shadow: 0 0 3px 3px var(--color-navBtnShadow);
    transition: 250ms ease-in;
}

.cart:hover {
    background-color: var(--color-navBtnAccent);
    box-shadow: 0 0 0 0 transparent,
        inset 0 0 2px 2px var(--color-navBtnShadow);
}

.profile-link {
    background:
        linear-gradient(to bottom right,
            rgba(119, 237, 255, 0.5) 50%,
            rgba(38, 59, 217, 0.5)),
        url(https://media.istockphoto.com/vectors/service-icon-vector-male-operator-person-profile-avatar-with-headset-vector-id923732042?s=612x612);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.number {
    margin-right: 20px;
    font-size: 18px;
}

.flex-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.nav-btn-active {
    background-color: var(--color-nav);
    box-shadow: 0 0 0 0 transparent,
        inset 12px 0 10px -6px var(--color-navBtnShadow),
        inset -12px 0 10px -6px var(--color-navBtnShadow),
        inset 0 -3.25em 0 0 var(--color-navBtnAccent);
    /* transition: none; */
}

.nav-btn-active.cart {
    background-color: var(--color-navBtnAccent);
    box-shadow: inset 0 0 3px 1px var(--color-navBtnShadow),
        inset 0 0 2px 2px var(--color-navBtnShadow);
}

.border-sides {
    border: 1px solid black;
    border-width: 0 1px 0 1px;
}