.item-page-header {
    height: 400px;
    width: 100%;
    background-color: blue;
}
.item-page-filterbtns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
.item-page-div {
    width: 100%;
    background-color: red;
}
