@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap&?family=Michroma&family=Orbitron:wght@400;600;900&family=Secular+One&display=swap');
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Secular One', sans-serif; */
/* font-family: 'Michroma', sans-serif; */
/* font-family: 'Iceland', cursive; */

:root {
    --color-neongreen: rgb(96, 194, 145);
    --color-prettyGradient: linear-gradient(to top right, #b3e5f9, #fff8af);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    background: linear-gradient(to bottom right, rgb(185, 200, 230) 50%, #237a92);
    padding: 50px 0 100px 0;
}

h1 {
    font-size: 5vw;
    font-family: 'Orbitron', sans-serif;
}

.nav-btn {
    color: #2A2b2dff;
    font-family: "Orbitron", sans-serif;
}

input {
    font-family: 'Secular One', sans-serif;
}
input {
    padding: 2px 10px;
    height: 25px;
    width: clamp(200px, 50vw, 80vw);
    border-radius: 15px;
    border: 1px solid rgb(121, 209, 238);
    box-shadow: 0 0 1px 1px rgb(121, 209, 238);
    outline: none;
    transition: 250ms;
}
input:focus {
    box-shadow: 0 0 4px 1px blue;
}