.checkout-page-div h1 {
    margin: 30px;
}

.checkout-btn {
    padding: 5px 10px;
    font-size: .5em;
    background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 1px grey;
    transition:  ease-out;
}

.checkout-btn:hover {
    border: 2px solid blue;
    transform: scale(1.1);
}

.checkout-btn:active {
    background-color: lightskyblue;
    transform: scale(1.1);
}